.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 18px;
  color: #2A213C;

}
img {
  width: 250px;
}
h2 {
  color: #ffffff;
}
p {
  text-align: left;
  width: 600px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 14px;
  margin: auto;
  color: #ffffff;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
